@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Noto Sans KR */
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100;
  display: swap;
  src: url("../fonts/NotoSansKR-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  display: swap;
  src: url("../fonts/NotoSansKR-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  display: swap;
  src: url("../fonts/NotoSansKR-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  display: swap;
  src: url("../fonts/NotoSansKR-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  display: swap;
  src: url("../fonts/NotoSansKR-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 900;
  display: swap;
  src: url("../fonts/NotoSansKR-Black.ttf") format("truetype");
}


/* ----- reset css ----- */

* {
  margin: 0;
  padding: 0;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
}

html, button, input, select, td, textarea, th {
  font-size: 12px;
  color: #000;
  background: transparent;
  font-family: 'Noto Sans KR', Arial, "굴림", Gulim, "돋움", Dotum, "Apple SD Gothic Neo", AppleGothic, sans-serif;
}

fieldset,img {
  border: 0 none;
}

dl, ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

button, input, select, textarea {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  cursor: pointer;
  line-height: 1.1;
}

input + label {
  margin-left: 10px;
}

table,
label,
figure,
caption {
  margin: 0;
  padding: 0;
  border: 0 none;
  vertical-align: baseline;
}

input::placeholder {
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #ADADAD;
}
input::-moz-placeholder {
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #ADADAD;
}
input:-moz-placeholder {
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #ADADAD;
}
input::-webkit-input-placeholder {
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #ADADAD;
}
input:-ms-input-placeholder {
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #ADADAD;
}

button {
  cursor: pointer;
  border: 0 none;
  background: transparent;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
a:hover, a:active {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}
a:link, a:visited {
  text-decoration: none;
  color: #000;
}



/* ----- common css ----- */

.sr_only {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

img.img_content {
  z-index: 10;
  position: relative;
  display: block;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.ico_comm {
  overflow: hidden;
  display: inline-block;
  line-height: 0;
  vertical-align: top;
  font-size: 0;
  text-indent: -9999px;
}

.btn_comm {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}



/* ----- style css ----- */

#rohanWrap {
  scroll-behavior: smooth;
  position: relative;
  width: 100%;
  min-width: 1580px;
  height: 100%;
  margin: 0 auto;
}

/* visual, header */

#imgFire {
  display: none;
}

.section_visual {
  position: relative;
  width: 100%;
  min-width: 1400px;
  height: 100%;
  max-height: 1400px;
  min-height: 800px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.section_visual_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 20px);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transform-origin: center;
  -webkit-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  background: url(../images/bg_visual.jpg) no-repeat center center;
  background-size: cover;
}

.section_header {
  z-index: 721;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 84px;
  left: 0;
  top: 0;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.inner_header {
  width: 100%;
  height: 84px;
  padding: 24px 84px 0 84px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tit_logo {
  float: left;
  width: 198px;
  height: 60px;
}

.link_logo {
  width: 198px;
  height: 60px;
}

.list_util {
  float: right;
  height: 30px;
  padding-top: 18px;
}

.list_util li {
  float: left;
  height: 30px;
}
.list_util li + li {
  margin-left: 22px;
}

.link_home {
  width: 30px;
  height: 30px;
}
.ico_home {
  width: 30px;
  height: 25px;
  background: url(../images/btn_home.png) no-repeat center top;
  background-position-y: 0;
}

.link_close {
  width: 25px;
  height: 30px;
}
.ico_close {
  width: 25px;
  height: 24px;
  background: url(../images/btn_close.png) no-repeat center top;
  background-position-y: 0;
}

.list_util li:hover .ico_home,
.link_home:hover .ico_home,
.list_util li:hover .ico_close,
.link_close:hover .ico_close {
  background-position-y: 100%;
}

.wrap_visual {
  scroll-behavior: smooth;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-width: 1580px;
  height: 100vh;
  max-height: 1400px;
  min-height: 800px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.inner_visual {
  z-index: 10;
  overflow: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 1920px;
  left: 50%;
  top: 50%;
  height: 100%;
  max-height: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tit_event {
  width: 612px;
  height: 363px;
  margin: 0 auto;
}
.img_title {
  display: inline-block;
  width: 612px;
  height: 363px;
  vertical-align: middle;
}

.recruitment_event {
  width: 426px;
  height: 131px;
  margin: 0 auto;
  padding-top: 175px;
}

.btn_recruitment {
  width: 426px;
  height: 131px;
  background: url(../images/btn_recruitment.png) no-repeat center top;
  background-position-y: 0;
}
.btn_recruitment_nologin {
  width: 426px;
  height: 131px;
  background: url(../images/btn_recruitment.png) no-repeat center top;
  background-position-y: 0;
}
.btn_recruitment:hover {
  background-position-y: 100%;
}

.inner_btn {
  z-index: 10;
  position: absolute;
  width: 114px;
  height: 114px;
  top: 50%;
  left: 50%;
  padding: 50px 0;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.btn_play {
  width: 114px;
  height: 114px;
  background: url(../images/btn_play.png) no-repeat center top;
  background-position-y: 0;
}
.btn_play:hover {
  -webkit-animation: rotateAni 1s ease-in-out both;
  -moz-animation: rotateAni 1s ease-in-out both;
  -o-animation: rotateAni 1s ease-in-out both;
  animation: rotateAni 1s ease-in-out both;
  background-position-y: 100%;
}

@-webkit-keyframes rotateAni {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotateAni {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.scroll_event {
  position: relative;
  width: 91px;
  height: 84px;
  margin: 0 auto;
  padding-top: 100px;
}

.btn_scroll {
  z-index: 721;
  position: absolute;
  width: 91px;
  height: 84px;
  left: 50%;
  bottom: 6%;
  margin-left: -45px;
  -webkit-animation: yoyoAni 1.5s ease-in-out 0s infinite both;
  -moz-animation: yoyoAni 1.5s ease-in-out 0s infinite both;
  -o-animation: yoyoAni 1.5s ease-in-out 0s infinite both;
  animation: yoyoAni 1.5s ease-in-out 0s infinite both;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background: url(../images/btn_scroll.png) no-repeat center top;
}

@keyframes yoyoAni { 
  0%, 100% { 
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.video_event {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.wrap_popup {
  z-index: 7721;
  display: none;
  position:fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background:rgba(0,0,0,0.9);
}

.inner_video_popup {
  position: absolute;
  width: 1280px;
  height: 720px;
  top:50%;
  left:50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.item_youtube {
  min-width: 100%;
  min-height: 100%;
  border: 1px solid #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn_popup_close {
  position: absolute;
  top: 0;
  right: -65px;
  width: 45px;
  height: 46px;
  background: url(../images/btn_popup_close.png) no-repeat center top;
}

/* main event */

.wrap_event {
  scroll-behavior: smooth;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-width: 1580px;
  height: 100vh;
  max-height: 1400px;
  min-height: 800px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.section_event_01 {
  height: 100vh;
  min-height: 800px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/bg_event_01.jpg) no-repeat center center;
  background-size: cover;
}

.section_event_02 {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/bg_event_02.jpg) no-repeat center center;
  background-size: cover;
}

.section_event_02 .inner_event {
  z-index: 10;
  overflow: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 1580px;
  height: 800px;
  left: 50%;
  top: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section_event_03 {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/bg_event_03.jpg) no-repeat center center;
  background-size: cover;
}
.section_event_03 .inner_event {
  z-index: 10;
  overflow: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 1580px;
  height: 800px;
  left: 50%;
  top: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.inner_slider {
  z-index: 10;
  overflow: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1920px;
  left: 50%;
  top: 50%;
  height: 100% !important;
  min-height: 900px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrap_txt {
  position: absolute;
  width: 635px;
  height: 100%;
  max-height: 635px;
  left: 180px;
}

.wrap_slider {
  position: absolute;
  width: auto;
  max-width: 1270px;
  min-width: 900px;
  height: 1200px;
  right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.img_txt {
  position: absolute;
  left: 0;
  width: 635px;
  height: 562px;
}

.item_txt {
  position: absolute;
  left: 0;
  top: 350px;
  width: 374px;
  height: 242px;
}

.item_txt li {
  float: left;
  width: 172px;
  height: 242px;
}
.item_txt li + li {
  margin-left: 19px;
}

.item_txt li:nth-child(1) {
  background: url(../images/img_event_0102.png) no-repeat center center;
  background-position-y: 0;
}
.item_txt li:nth-child(1):hover {
  background-position-y: 100%;
}
.item_txt li:nth-child(1):hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -155px;
  width: 380px;
  height: 153px;
  background: url(../images/img_event_0104.png) no-repeat center center;
}

.item_txt li:nth-child(2) {
  background: url(../images/img_event_0103.png) no-repeat center center;
  background-position-y: 0;
}
.item_txt li:nth-child(2):hover {
  background-position-y: 100%;
}
.item_txt li:nth-child(2):hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -155px;
  width: 380px;
  height: 153px;
  background: url(../images/img_event_0105.png) no-repeat center center;
}

.img_img {
  position: absolute;
  width: auto;
  max-width: 1200px;
  min-width: 900px;
  height: auto;
  left: 50px;
  top: 0;
}

.img_01 {
  -moz-transform: translateX(100px);
  -webkit-transform: translateX(100px);
  -o-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 1;
}
.img_01.slick-active {
  -webkit-animation: fadeInRight 1.7s ease-in-out;
  -moz-animation: fadeInRight 1.7s ease-in-out;
  -o-animation: fadeInRight 1.7s ease-in-out;
  -ms-animation: fadeInRight 1.7s ease-in-out;
  animation: fadeInRight 1.7s ease-in-out;
}

.img_02 {
  -moz-transform: translateX(80px);
  -webkit-transform: translateX(80px);
  -o-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
  opacity: 1;
}
.img_02.slick-active {
  -webkit-animation: fadeInLeft 1.7s ease-in-out;
  -moz-animation: fadeInLeft 1.7s ease-in-out;
  -o-animation: fadeInLeft 1.7s ease-in-out;
  -ms-animation: fadeInRight 1.7s ease-in-out;
  animation: fadeInLeft 1.7s ease-in-out;
}

@-webkit-keyframes fadeInLeft {
  0% {
    -moz-transform: translateX(140px);
    -webkit-transform:  translateX(140px);
    -o-transform:  translateX(140px);
    -ms-transform: translateX(140px);
    transform:  translateX(140px);
    opacity: 0.3;
  }
  100% {
    -moz-transform: translateX(80px);
    -webkit-transform: translateX(80px);
    -o-transform: translateX(80px);
    -ms-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    -moz-transform: translateX(140px);
    -webkit-transform:  translateX(140px);
    -o-transform:  translateX(140px);
    -ms-transform: translateX(140px);
    transform:  translateX(140px);
    opacity: 0.3;
  }
  100% {
    -moz-transform: translateX(80px);
    -webkit-transform: translateX(80px);
    -o-transform: translateX(80px);
    -ms-transform: translateX(80px);
    transform: translateX(80px);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    -moz-transform: translateX(0px);
    -webkit-transform:  translateX(0px);
    -o-transform:  translateX(0px);
    -ms-transform: translateX(0px);
    transform:  translateX(0px);
    opacity: 0.3;
  }
  100% {
    -moz-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    -moz-transform: translateX(0px);
    -webkit-transform:  translateX(0px);
    -o-transform:  translateX(0px);
    -ms-transform: translateX(0px);
    transform:  translateX(0px);
    opacity: 0.3;
  }
  100% {
    -moz-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 1;
  }
}

.slick-arrow  {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.slick-dots {
  z-index: 10;
  position: absolute;
  width: 100px;
  height: 54px;
  left: 50%;
  top: 290px;
  margin-left: -690px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slick-dots li {
  float: left;
  width: 33px;
  height: 54px;
  text-indent: -9999px;
}
.slick-dots li:hover {
  cursor: pointer;
}

.slick-dots li + li {
  margin-left: 10px;
}

.slick-dots li:nth-child(1) {
  left: -184px;
  background: url(../images/slick_dots_02.png) no-repeat center center;
  background-position-y: 0;
}
.slick-dots li:nth-child(1):hover,
.slick-dots li:nth-child(1).slick-active {
  width: 33px;
  height: 54px;
  background-position-y: 100%;
}

.slick-dots li:nth-child(2) {
  left: -140px;
  background: url(../images/slick_dots_01.png) no-repeat center center;
  background-position-y: 0;
}
.slick-dots li:nth-child(2):hover,
.slick-dots li:nth-child(2).slick-active {
  width: 33px;
  height: 54px;
  background-position-y: 100%;
}

.img_event_0201 {
  display: inline-block;
  width: 292px;
  height: 112px;
}

.wrap_certif {
  position: relative;
  width: 718px;
  margin: 0 auto;
  padding-top: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 718px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap_form + .wrap_form {
  padding-top: 10px;
}
.wrap_input > input, label + .wrap_input > input, label {
  margin-left: 50px;
}

.input_phone {
  width: 502px;
  height: 55px;
  padding: 12px 20px;
  border: 1px solid #FFF;
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  background-color: #FFF;
}

.btn_phone {
  width: 206px;
  height: 62px;
  margin: 0 0 2px 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/btn_send.png) no-repeat center center;
  background-position: 0 -62px;
}
.btn_phone:hover {
  background-position: -206px -62px;
}

.btn_phone.resend {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/btn_send.png) no-repeat center center;
  background-position: 0 0;
}
.btn_phone.resend:hover {
  background-position: -206px 0;
}

.countdown {
  position: absolute;
  right: 240px;
  top: 127px;
  height: 20px;
  font-size: 20px;
  line-height: 18px;
  color: #ADADAD;
}

.wrap_popup {
  z-index: 7721;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.inner_popup {
  z-index: 128;
  position: fixed;
  width: 578px;
  height: 246px;
  left: 50%;
  top: 50%;
  padding: 56px 130px 58px 130px;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  color: #4C4C4C;
  background-color: #FFF;
}

.txt_popup {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 17px;
  font-weight: 400;
  word-break: break-all;
  color: #494949;
}

.btn_okay {
  width: 162px;
  height: 46px;
  margin: 40px 0 0;
  font-size: 17px;
  line-height: 26px;
  color:#FFF;
  background-color:#606C79;
}

.wrap_close {
  z-index: 7721;
  position: relative;
  width: 1280px;
  height: 55px;
  margin: 10px auto 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: url(../images/btn_close.png) no-repeat center center;
}

.btn_confirm {
  width: 206px;
  height: 62px;
  margin-left: 10px;
  margin-bottom: 2px;
  background: url(../images/btn_send.png) no-repeat center center;
  background-position: 0 -124px;
}
.btn_confirm:hover {
  background-position: -206px -124px;
}

.wrap_info {
  overflow: hidden;
  width: 718px;
  margin: 45px 0 0;
  color: #ADADAD;
}

.wrap_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.txt_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  width: 60%;
  margin-left: 10px;
  font-size: 19px;
}
.txt_check::before {
  content: '';
  position: absolute;
  left: 0;
  width: 6px;
  height: 6px;
  margin-top: 10px;
  background: url(../images/ico_circle.png) no-repeat center center;
}

.wrap_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  width: 40%;
  font-size: 19px;
}

.input_agree {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #ADADAD;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.txt_info {
  overflow: hidden;
  display: inline-block;
  padding: 35px 0;
  font-size: 15px;
  line-height: 1.8;
}

.btn_apply {
  position: absolute;
  width: 442px;
  height: 98px;
  bottom: -160px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url(../images/btn_apply.png) no-repeat center center;
  background-position-y: 0;
}
.btn_apply:hover {
  background-position-y: 100%;
}

.img_event_0301 {
  display: inline-block;
  width: 398px;
  height: 159px;
}

.img_event_0302 {
  display: inline-block;
  width: 848px;
  height: 216px;
  padding-top: 30px;
}

.list_txt {
  position: relative;
  width: 842px;
  margin: 0 auto;
  padding: 26px 0 60px;
  text-align: left;
}

.list_txt li {
  margin-left: 16px;
  font-size: 14px;
  line-height: 1.4;
  color: #B78F78;
}
.list_txt li::before {
  content: '';
  position: absolute;
  left: 0;
  margin-top: 7px;
  width: 6px;
  height: 6px;
  background: url(../images/ico_square.jpg);
}
.list_txt li + li {
  margin-top: 10px;
}

/* 보상받기 버튼 비활성화 */
.btn_reward {
  width: 442px;
  height: 98px;
  margin-top: 10px;
  background: url(../images/btn_reward.png) no-repeat center center;
  background-position: 0 0;
}

/* 보상받기 버튼 활성화 */
.btn_reward.complete {
  background-position: 0 -196px;
}

/* 보상받기 버튼 활성화 후 마우스오버시 */
.btn_reward.complete:hover {
  background-position: 0 -98px;
}

/* aside */

.section_aside {
  z-index:721;
  position: fixed;
  right: 84px;
  top: 50%;
}

.list_aside > li > a,
.link_aside,
.list_aside li {
  display: block;
  width: 95px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.list_aside li:nth-child(1),
.list_aside li:nth-child(1) .link_aside {
  height: 95px;
  background: url(../images/img_nav.png) no-repeat left top;
  background-position: 0 0;
}
.list_aside li:nth-child(1):hover,
.list_aside li:nth-child(1):hover .link_aside,
.list_aside li:nth-child(1) .link_aside.is_active {
  height: 95px;
  background-position: -105px 0;
}

.list_aside li:nth-child(2),
.list_aside li:nth-child(2) .link_aside {
  height: 66px;
  background: url(../images/img_nav.png) no-repeat left top;
  background-position: 0 -95px;
}
.list_aside li:nth-child(2):hover,
.list_aside li:nth-child(2):hover .link_aside,
.list_aside li:nth-child(2) .link_aside.is_active {
  height: 66px;
  background-position: -105px -95px;
}

.list_aside li:nth-child(3),
.list_aside li:nth-child(3) .link_aside {
  height: 70px;
  background: url(../images/img_nav.png) no-repeat left top;
  background-position: 0 -161px;
}
.list_aside li:nth-child(3):hover,
.list_aside li:nth-child(3):hover .link_aside,
.list_aside li:nth-child(3) .link_aside.is_active {
  height: 70px;
  background-position: -105px -161px;
}

.list_aside li:nth-child(4),
.list_aside li:nth-child(4) .link_aside {
  height: 103px;
  background: url(../images/img_nav.png) no-repeat left top;
  background-position: 0 -231px;
}
.list_aside li:nth-child(4):hover,
.list_aside li:nth-child(4):hover .link_aside,
.list_aside li:nth-child(4) .link_aside.is_active {
  height: 103px;
  background-position: -105px -231px;
}

/* footer */

.section_footer {
  position: relative;
  bottom: 40px;
  left: 50%;
  width: 266px;
  height: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* animation */

.hideme {
  opacity: 0;
}

.showme {
  opacity: 1;
	-webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}



/* ----- media query ----- */

@media screen and (max-width: 1580px) {
  /* body {
    overflow: auto;
  } */
}

@media screen and (min-width: 1581px) {
  /* body {
    overflow: auto;
    -ms-overflow-style: none;
  } */

  /* ::-webkit-scrollbar {
    display: none;
  } */
}

@media screen and (min-width: 1801px) and (max-width: 1940px) {
  .btn_scroll {
    bottom: 1%;
  }
}

@media screen and (max-width: 1800px) {
  .btn_scroll {
    bottom: 2%;
  }

  .inner_slider {
    z-index: 10;
    overflow: hidden;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1580px;
    left: 50%;
    top: 50%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .wrap_txt {
    position: absolute;
    width: 635px;
    max-height: 635px;
    left: 50px;
  }
  
  .wrap_slider {
    position: absolute;
    width: auto;
    width: 945px;
    height: 900px;
    right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .img_01 {
    -moz-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 1;
  }

  .img_02 {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  @-webkit-keyframes fadeInLeft {
    0% {
      -moz-transform: translateX(200px);
      -webkit-transform: translateX(200px);
      -o-transform: translateX(200px);
      transform: translateX(200px);
      opacity: 0.3;
    }
    100% {
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fadeInLeft {
    0% {
      -moz-transform: translateX(200px);
      -webkit-transform: translateX(200px);
      -o-transform: translateX(200px);
      transform: translateX(200px);
      opacity: 0.3;
    }
    100% {
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @-webkit-keyframes fadeInRight {
    0% {
      -moz-transform: translateX(-100px);
      -webkit-transform: translateX(-100px);
      -o-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0.3;
    }
    100% {
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fadeInRight {
    0% {
      -moz-transform: translateX(-100px);
      -webkit-transform: translateX(-100px);
      -o-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0.3;
    }
    100% {
      -moz-transform: translateX(100px);
      -webkit-transform: translateX(100px);
      -o-transform: translateX(100px);
      -ms-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 1;
    }
  }

  .btn_apply {
    bottom: -120px;
  }

  .slick-dots {
    z-index: 10;
    position: absolute;
    width: 100px;
    height: 54px;
    left: 50%;
    top: 140px;
    margin-left: -645px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/* IE 11 대응 */

@media all and (-ms-high-contrast:none) {
  *::-ms-backdrop, .section_event_01 {
    overflow: hidden;
    height: 100vh;
    min-height: 800px;
    box-sizing: border-box;
    background: url(../images/bg_event_01.jpg) no-repeat center center;
    background-size: cover;
  }

  *::-ms-backdrop, .inner_slider {
    z-index: 10;
    overflow: hidden;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 1920px;
    left: 50%;
    top: 50%;
    height: 100%;
    min-height: 900px;
    box-sizing: border-box;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  *::-ms-backdrop, .wrap_txt {
    position: relative;
    float: left;
    width: 635px;
    height: 100%;
    max-height: 635px;
    left: 180px;
  }

  *::-ms-backdrop, .img_txt {
    position: relative;
    display: inline-block;
    width: 635px;
    height: 562px;
  }

  *::-ms-backdrop, .item_txt {
    position: absolute;
    display: flex;
    left: 0;
    top: 320px;
    width: 374px;
    height: 242px;
  }

  *::-ms-backdrop, .item_txt li {
    display: flex;
    justify-content: space-between;
    width: 172px;
    height: 242px;
      background-color: darkgrey;
  }

  *::-ms-backdrop, .item_txt li + li {
    margin-left: 19px;
  }

  *::-ms-backdrop, .item_txt li:nth-child(1) {
    width: 172px;
    height: 242px;
    background: url(../images/img_event_0102.png) no-repeat center center;
    background-position: 0 0;
  }
  *::-ms-backdrop, .item_txt li:nth-child(2) {
    width: 172px;
    height: 242px;
    background: url(../images/img_event_0103.png) no-repeat center center;
    background-position: 0 0;
  }

  *::-ms-backdrop, .item_txt li:nth-child(1):hover {
    background-position-y: 100%;
  }
  *::-ms-backdrop, .item_txt li:nth-child(1):hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -155px;
    width: 380px;
    height: 153px;
    background: url(../images/img_event_0104.png) no-repeat center center;
  }

  *::-ms-backdrop, .item_txt li:nth-child(2):hover {
    background-position-y: 100%;
  }
  *::-ms-backdrop, .item_txt li:nth-child(2):hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -155px;
    width: 380px;
    height: 153px;
    background: url(../images/img_event_0105.png) no-repeat center center;
  }

  *::-ms-backdrop, .wrap_slider {
    position: relative;
    float: right;
    width: auto;
    height: 100vh;
    max-height: 1400px;
    min-height: 900px;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
  }

  *::-ms-backdrop, .img_img {
    overflow: hidden;
    width: auto;
    height: 100vh;
    max-height: 1400px;
    min-height: 900px;
    top: 0;
  }

  *::-ms-backdrop, .img_01 {
    right: 0;
  }

  *::-ms-backdrop, .img_02 {
    right: -50px;
  }

  *::-ms-backdrop, .slick-arrow {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
  }

  *::-ms-backdrop, .slick-dots {
    z-index: 10;
    position: absolute;
    width: 100px;
    height: 54px;
    left: 50%;
    top: 350px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    box-sizing: border-box;
  }

  *::-ms-backdrop, .slick-dots li {
    float: left;
    width: 33px;
    height: 54px;
    text-indent: -9999px;
  }
  *::-ms-backdrop, .slick-dots li:hover {
    cursor: pointer;
  }
  *::-ms-backdrop, .slick-dots li + li {
    margin-left: 10px;
  }

  *::-ms-backdrop, .slick-dots li:nth-child(1) {
    left: -184px;
    background: url(../images/slick_dots_02.png) no-repeat center center;
    background-position-y: 0;
  }
  *::-ms-backdrop, .slick-dots li:nth-child(1):hover,
  *::-ms-backdrop, .slick-dots li:nth-child(1).slick-active {
    width: 33px;
    height: 54px;
    background-position-y: 100%;
  }

  *::-ms-backdrop, .slick-dots li:nth-child(2) {
    left: -140px;
    background: url(../images/slick_dots_01.png) no-repeat center center;
    background-position-y: 0;
  }
  *::-ms-backdrop, .slick-dots li:nth-child(2):hover,
  *::-ms-backdrop, .slick-dots li:nth-child(2).slick-active {
    width: 33px;
    height: 54px;
    background-position-y: 100%;
  }
}

@media screen and (max-width: 1580px) {
  /* *::-ms-backdrop, body {
    overflow-x: scroll;
    overflow-y: hidden;
  } */
}

@media screen and (min-width: 1581px) {
  *::-ms-backdrop, body {
    overflow: hidden;
    -ms-overflow-style: none;
  }
}

@media screen and (max-width: 1940px) {
  *::-ms-backdrop, .inner_slider {
    z-index: 10;
    overflow: hidden;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 1580px;
    left: 50%;
    top: 50%;
    height: 100%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
  }

  *::-ms-backdrop, .wrap_txt {
    margin-left: 50px !important;
  }

  *::-ms-backdrop, .wrap_slider {
    position: absolute;
    width: auto;
    width: 945px;
    right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  *::-ms-backdrop, .slick-dots {
    z-index: 10;
    position: absolute;
    width: 100px;
    height: 54px;
    left: 50%;
    top: 230px;
    margin-left: -470px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    box-sizing: border-box;
  }
}
