@charset "utf-8";



/* --- reset --- */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin:0;
  padding:0
}

html, 
body {
  width:100%;
  height:100%;
  font-size: 16px;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
  background-color: #010205;
}

fieldset,
img {
  border: 0 none;
}

ol,
ul,
li {
  list-style: none;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

button {
  border: 0 none;
  cursor: pointer;
  vertical-align: middle;
  background-color: transparent;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
a:hover,
a:active {
  cursor: pointer;
  text-decoration: underline;
  outline: none;
}
a:link,
a:visited {
  text-decoration: none;
}

br {
  font-family: 'Dotum';
} /* IE에서 br 태그 이슈 대응 */



/* --- common css --- */

.sr_only {
  z-index: -7721;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}



/* --- style css --- */

#rohanWrap {
  position: relative;
  width: 100%;
  max-width: 2560px;
  min-width: 1600px;
  height: 4400px;
  margin: 0 auto;
  background: url(../images/bg_event.jpg) 50% 50% no-repeat;
}

/* nav */

#rNav {
  overflow: hidden;
  position: absolute;
  width: 100%;
  max-width: 2560px;
  min-width: 1600px;
  height: 100px;
  left: 0;
  top: 0;
  margin: 0 auto;
  padding: 0 66px;
}

.tit_logo,
.link_logo {
  width: 198px; 
  height: 60px;
}

.tit_logo {
  float: left;
  margin: 40px 0 0 0;
}

.list_util {
  float: right;
  height: 24px;
  margin: 58px 0 0 0;
}

.list_util li {
  float: left;
  height: 24px;
}
.list_util li + li {
  margin-left: 22px;
}

.link_home,
.link_close,
.ico_home,
.ico_close {
  width: 28px;
  height: 24px;
}

.ico_home {
  background: url(../images/ico_home.png) no-repeat center top;
  background-position-y: 0;
} 

.ico_close {
  background: url(../images/ico_close.png) no-repeat center top;
  background-position-y: 0;
}

.list_util li:hover .ico_home,
.link_home:hover .ico_home,
.list_util li:hover .ico_close,
.link_close:hover .ico_close {
  background-position-y: 100%;
}

/* rMain  */

#rMain {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 2560px;
  min-width: 1600px;
  height: 4400px;
}

.event_header {
  position: relative;
  width: 1600px;
  height: 1020px;
}

.img_header {
  position: absolute;
  width: 746px;
  height: 500px;
  top: 283px;
  left: 96px;
}

.event_visual {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.event_main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 2560px;
  min-width: 1600px;
  height: 3290px;
}

.event_main_01 {
  height: 701px;
}
.event_main_02 {
  height: 1716px;
}
.event_main_03 {
  height: 873px;
}

.event_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 2560px;
  min-width: 1600px;
  height: 90px;
}

.wrap_top {
  z-index: 721;
  position: absolute;
  width: 101px;
  height: 48px;
  top: 1000px;
  right: 5%;
  margin-left: 37.8%;
}

.btn_top {
  width: 101px;
  height: 48px;
  background: url(../images/btn_top.png) center top no-repeat;
}

/* animation */

@-webkit-keyframes flyBats { 0% {  transform: translate3d(0, 0, -1000px); } }
@keyframes flyBats { 0% { transform: translate3d(0, 0, -1000px); } }

.wrap_bats {
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  -moz-transform-origin: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-origin: center center;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 400px;
  -ms-perspective: 400px;
  perspective: 400px;
}

.bats {
  z-index: 721;
  position: absolute;
  width: 100px;
  height: 80px;
  -webkit-animation: flyBats 2.3s 3 both;
  -moz-animation: flyBats 2.3s 3 both;
  -o-animation: flyBats 2.3s 3 both;
  animation: flyBats 2.3s 3 both;
  background: url(../images/img_bat.gif) center center no-repeat;
}

.bats:nth-child(1) {
  -webkit-animation-delay: -0.2s;
  -moz-animation-delay: -0.2s;
  -o-animation-delay: -0.2s;
  animation-delay: -0.2s;
  -webkit-transform: translate3d(761px, 220px, 1341px) rotate(30deg);
  -moz-transform: translate3d(761px, 220px, 1341px) rotate(30deg);;
  -ms-transform: translate3d(761px, 220px, 1341px) rotate(30deg);
  -o-transform: translate3d(761px, 220px, 1341px) rotate(30deg);
  transform: translate3d(761px, 220px, 1341px) rotate(30deg);
}
.bats:nth-child(2) {
  -webkit-animation-delay: -0.4s;
  -moz-animation-delay: -0.4s;
  -o-animation-delay: -0.4s;
  animation-delay: -0.4s;
  -webkit-transform: translate3d(150px, 375px, 954px);
  -moz-transform: translate3d(150px, 375px, 954px);
  -ms-transform: translate3d(150px, 375px, 954px);
  -o-transform: translate3d(150px, 375px, 954px);
  transform: translate3d(150px, 375px, 954px);
}
.bats:nth-child(3) {
  -webkit-animation-delay: -0.6s;
  -moz-animation-delay: -0.6s;
  -o-animation-delay: -0.6s;
  animation-delay: -0.6s;
  -webkit-transform: translate3d(271px, 408px, 1109px) rotate(-30deg);
  -moz-transform: translate3d(271px, 408px, 1109px) rotate(-30deg);
  -ms-transform: translate3d(271px, 408px, 1109px) rotate(-30deg);
  -o-transform: translate3d(271px, 408px, 1109px) rotate(-30deg);
  transform: translate3d(271px, 408px, 1109px) rotate(-30deg);
}
.bats:nth-child(4) {
  -webkit-animation-delay: -0.8s;
  -moz-animation-delay: -0.8s;
  -o-animation-delay: -0.8s;
  animation-delay: -0.8s;
  -webkit-transform: translate3d(728px, 379px, 1134px);
  -moz-transform: translate3d(728px, 379px, 1134px);
  -ms-transform: translate3d(728px, 379px, 1134px);
  -o-transform: translate3d(728px, 379px, 1134px);
  transform: translate3d(728px, 379px, 1134px);
}
.bats:nth-child(5) {
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -o-animation-delay: -1s;
  animation-delay: -1s;
  -webkit-transform: translate3d(1155px, 75px, 100px) rotate(30deg);
  -moz-transform: translate3d(1155px, 75px, 100px) rotate(30deg);
  -ms-transform: translate3d(1155px, 75px, 100px) rotate(30deg);
  -o-transform: translate3d(1155px, 75px, 100px) rotate(30deg);
  transform: translate3d(1155px, 75px, 100px) rotate(30deg);
  opacity: 0.8;
}
.bats:nth-child(6) {
  -webkit-animation-delay: -1.2s;
  -moz-animation-delay: -1.2s;
  -o-animation-delay: -1.2s;
  animation-delay: -1.2s;
  -webkit-transform: translate3d(12px, 931px, 1950px) rotate(-30deg);
  -moz-transform: translate3d(12px, 931px, 1950px) rotate(-30deg);
  -ms-transform: translate3d(12px, 931px, 1950px) rotate(-30deg);
  -o-transform: translate3d(12px, 931px, 1950px) rotate(-30deg);
  transform: translate3d(12px, 931px, 1950px) rotate(-30deg);
}
.bats:nth-child(7) {
  -webkit-animation-delay: -1.4s;
  -moz-animation-delay: -1.4s;
  -o-animation-delay: -1.4s;
  animation-delay: -1.4s;
  -webkit-transform: translate3d(929px, 556px, 1702px);
  -moz-transform: translate3d(929px, 556px, 1702px);
  -ms-transform: translate3d(929px, 556px, 1702px);
  -o-transform: translate3d(929px, 556px, 1702px);
  transform: translate3d(929px, 556px, 1702px);
}
.bats:nth-child(8) {
  -webkit-animation-delay: -1.6s;
  -moz-animation-delay: -1.6s;
  -o-animation-delay: -1.6s;
  animation-delay: -1.6s;
  -webkit-transform: translate3d(132px, 724px, 740px);
  -moz-transform: translate3d(132px, 724px, 740px);
  -ms-transform: translate3d(132px, 724px, 740px);
  -o-transform: translate3d(132px, 724px, 740px);
  transform: translate3d(132px, 724px, 740px);
}
.bats:nth-child(9) {
  -webkit-animation-delay: -1.8s;
  -moz-animation-delay: -1.8s;
  -o-animation-delay: -1.8s;
  animation-delay: -1.8s;
  -webkit-transform: translate3d(655px, 298px, 676px) rotate(-30deg);
  -moz-transform: translate3d(655px, 298px, 676px) rotate(-30deg);
  -ms-transform: translate3d(655px, 298px, 676px) rotate(-30deg);
  -o-transform: translate3d(655px, 298px, 676px) rotate(-30deg);
  transform: translate3d(655px, 298px, 676px) rotate(-30deg);
}
.bats:nth-child(10) {
  -webkit-animation-delay: -2s;
  -moz-animation-delay: -2s;
  -o-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-transform: translate3d(508px, 757px, 1415px) rotate(30deg);
  -moz-transform: translate3d(508px, 757px, 1415px) rotate(30deg);
  -ms-transform: translate3d(508px, 757px, 1415px) rotate(30deg);
  -o-transform: translate3d(508px, 757px, 1415px) rotate(30deg);
  transform: translate3d(508px, 757px, 1415px) rotate(30deg);
}
.bats:nth-child(11) {
  -webkit-animation-delay: -2.2s;
  -moz-animation-delay: -2.2s;
  -o-animation-delay: -2.2s;
  animation-delay: -2.2s;
  -webkit-transform: translate3d(542px, 340px, 658px);
  -moz-transform: translate3d(542px, 340px, 658px);
  -ms-transform: translate3d(542px, 340px, 658px);
  -o-transform: translate3d(542px, 340px, 658px);
  transform: translate3d(542px, 340px, 658px);
}
.bats:nth-child(12) {
  -webkit-animation-delay: -2.4s;
  -moz-animation-delay: -2.4s;
  -o-animation-delay: -2.4s;
  animation-delay: -2.4s;
  -webkit-transform: translate3d(981px, 297px, 394px) rotate(-30deg);
  -moz-transform: translate3d(981px, 297px, 394px) rotate(-30deg);
  -ms-transform: translate3d(981px, 297px, 394px) rotate(-30deg);
  -o-transform: translate3d(981px, 297px, 394px) rotate(-30deg);
  transform: translate3d(981px, 297px, 394px) rotate(-30deg);
}
.bats:nth-child(13) {
  -webkit-animation-delay: -2.8s;
  -moz-animation-delay: -2.8s;
  -o-animation-delay: -2.8s;
  animation-delay: -2.8s;
  -webkit-transform: translate3d(264px, 909px, 1066px);
  -moz-transform: translate3d(264px, 909px, 1066px);
  -ms-transform: translate3d(264px, 909px, 1066px);
  -o-transform: translate3d(264px, 909px, 1066px);
  transform: translate3d(264px, 909px, 1066px);
}
.bats:nth-child(14) {
  -webkit-animation-delay: -3s;
  -moz-animation-delay: -3s;
  -o-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-transform: translate3d(499px, 223px, 841px) rotate(30deg);
  -moz-transform: translate3d(499px, 223px, 841px) rotate(30deg);
  -ms-transform: translate3d(499px, 223px, 841px) rotate(30deg);
  -o-transform: translate3d(499px, 223px, 841px) rotate(30deg);
  transform: translate3d(499px, 223px, 841px) rotate(30deg);
}
.bats:nth-child(15) {
  -webkit-animation-delay: -3.2s;
  -moz-animation-delay: -3.2s;
  -o-animation-delay: -3.2s;
  animation-delay: -3.2s;
  -webkit-transform: translate3d(599px, 446px, 447px);
  -moz-transform: translate3d(599px, 446px, 447px);
  -ms-transform: translate3d(599px, 446px, 447px);
  -o-transform: translate3d(599px, 446px, 447px);
  transform: translate3d(599px, 446px, 447px);
}
.bats:nth-child(16) {
  -webkit-animation-delay: -3.4s;
  -moz-animation-delay: -3.4s;
  -o-animation-delay: -3.4s;
  animation-delay: -3.4s;
  -webkit-transform: translate3d(548px, 128px, 1187px);
  -moz-transform: translate3d(548px, 128px, 1187px);
  -ms-transform: translate3d(548px, 128px, 1187px);
  -o-transform: translate3d(548px, 128px, 1187px);
  transform: translate3d(548px, 128px, 1187px);
}
.bats:nth-child(17) {
  -webkit-animation-delay: -3.6s;
  -moz-animation-delay: -3.6s;
  -o-animation-delay: -3.6s;
  animation-delay: -3.6s;
  -webkit-transform: translate3d(838px, 565px, 1252px) rotate(-30deg);
  -moz-transform: translate3d(838px, 565px, 1252px) rotate(-30deg);
  -ms-transform: translate3d(838px, 565px, 1252px) rotate(-30deg);
  -o-transform: translate3d(838px, 565px, 1252px) rotate(-30deg);
  transform: translate3d(838px, 565px, 1252px) rotate(-30deg);
}
.bats:nth-child(18) {
  -webkit-animation-delay: -3.8s;
  -moz-animation-delay: -3.8s;
  -o-animation-delay: -3.8s;
  animation-delay: -3.8s;
  -webkit-transform: translate3d(896px, 643px, 1437px);
  -moz-transform: translate3d(896px, 643px, 1437px);
  -ms-transform: translate3d(896px, 643px, 1437px);
  -o-transform: translate3d(896px, 643px, 1437px);
  transform: translate3d(896px, 643px, 1437px);
}
.bats:nth-child(19) {
  -webkit-animation-delay: -4s;
  -moz-animation-delay: -4s;
  -o-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-transform: translate3d(295px, 820px, 86px) rotate(30deg);
  -moz-transform: translate3d(295px, 820px, 86px) rotate(30deg);
  -ms-transform: translate3d(295px, 820px, 86px) rotate(30deg);
  -o-transform: translate3d(295px, 820px, 86px) rotate(30deg);
  transform: translate3d(295px, 820px, 86px) rotate(30deg);
}
.bats:nth-child(20) {
  -webkit-animation-delay: -4.2s;
  -moz-animation-delay: -4.2s;
  -o-animation-delay: -4.2s;
  animation-delay: -4.2s;
  -webkit-transform: translate3d(267px, 864px, 1879px) rotate(-30deg);
  -moz-transform: translate3d(267px, 864px, 1879px) rotate(-30deg);
  -ms-transform: translate3d(267px, 864px, 1879px) rotate(-30deg);
  -o-transform: translate3d(267px, 864px, 1879px) rotate(-30deg);
  transform: translate3d(267px, 864px, 1879px) rotate(-30deg);
}
.bats:nth-child(21) {
  -webkit-animation-delay: -4.4s;
  -moz-animation-delay: -4.4s;
  -o-animation-delay: -4.4s;
  animation-delay: -4.4s;
  -webkit-transform: translate3d(633px, 235px, 1309px);
  -moz-transform: translate3d(633px, 235px, 1309px);
  -ms-transform: translate3d(633px, 235px, 1309px);
  -o-transform: translate3d(633px, 235px, 1309px);
  transform: translate3d(633px, 235px, 1309px);
}
.bats:nth-child(22) {
  -webkit-animation-delay: -4.6s;
  -moz-animation-delay: -4.6s;
  -o-animation-delay: -4.6s;
  animation-delay: -4.6s;
  -webkit-transform: translate3d(939px, 728px, 214px);
  -moz-transform: translate3d(939px, 728px, 214px);
  -ms-transform: translate3d(939px, 728px, 214px);
  -o-transform: translate3d(939px, 728px, 214px);
  transform: translate3d(939px, 728px, 214px);
}
.bats:nth-child(23) {
  -webkit-animation-delay: -4.8s;
  -moz-animation-delay: -4.8s;
  -o-animation-delay: -4.8s;
  animation-delay: -4.8s;
  -webkit-transform: translate3d(858px, 972px, 152px) rotate(-30deg);
  -moz-transform: translate3d(858px, 972px, 152px) rotate(-30deg);
  -ms-transform: translate3d(858px, 972px, 152px) rotate(-30deg);
  -o-transform: translate3d(858px, 972px, 152px) rotate(-30deg);
  transform: translate3d(858px, 972px, 152px) rotate(-30deg);
}
.bats:nth-child(24) {
  -webkit-animation-delay: -5s;
  -moz-animation-delay: -5s;
  -o-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-transform: translate3d(362px, 961px, 1439px) rotate(30deg);
  -moz-transform: translate3d(362px, 961px, 1439px) rotate(30deg);
  -ms-transform: translate3d(362px, 961px, 1439px) rotate(30deg);
  -o-transform: translate3d(362px, 961px, 1439px) rotate(30deg);
  transform: translate3d(362px, 961px, 1439px) rotate(30deg);
}
.bats:nth-child(25) {
  -webkit-animation-delay: -5.2s;
  -moz-animation-delay: -5.2s;
  -o-animation-delay: -5.2s;
  animation-delay: -5.2s;
  -webkit-transform: translate3d(122px, 977px, 47px);
  -moz-transform: translate3d(122px, 977px, 47px);
  -ms-transform: translate3d(122px, 977px, 47px);
  -o-transform: translate3d(122px, 977px, 47px);
  transform: translate3d(122px, 977px, 47px);
}
.bats:nth-child(26) {
  -webkit-animation-delay: -5.4s;
  -moz-animation-delay: -5.4s;
  -o-animation-delay: -5.4s;
  animation-delay: -5.4s;
  -webkit-transform: translate3d(985px, 635px, 730px) rotate(-30deg);
  -moz-transform: translate3d(985px, 635px, 730px) rotate(-30deg);
  -ms-transform: translate3d(985px, 635px, 730px) rotate(-30deg);
  -o-transform: translate3d(985px, 635px, 730px) rotate(-30deg);
  transform: translate3d(985px, 635px, 730px) rotate(-30deg);
}
.bats:nth-child(27) {
  -webkit-animation-delay: -5.6s;
  -moz-animation-delay: -5.6s;
  -o-animation-delay: -5.6s;
  animation-delay: -5.6s;
  -webkit-transform: translate3d(32px, 26px, 1293px);
  -moz-transform: translate3d(32px, 26px, 1293px);
  -ms-transform: translate3d(32px, 26px, 1293px);
  -o-transform: translate3d(32px, 26px, 1293px);
  transform: translate3d(32px, 26px, 1293px);
}
.bats:nth-child(28) {
  -webkit-animation-delay: -5.8s;
  -moz-animation-delay: -5.8s;
  -o-animation-delay: -5.8s;
  animation-delay: -5.8s;
  -webkit-transform: translate3d(758px, 776px, 440px);
  -moz-transform: translate3d(758px, 776px, 440px);
  -ms-transform: translate3d(758px, 776px, 440px);
  -o-transform: translate3d(758px, 776px, 440px);
  transform: translate3d(758px, 776px, 440px);
}

.bats_fix {
  position: absolute;
  width: 100px;
  height: 80px;
  background: url(../images/img_bat.gif) center center no-repeat;
}

.bats_fix:nth-child(1) {
  right: 0;
  top: 50%;
  -webkit-transform: scale(0.5) rotate(30deg);
  -moz-transform: scale(0.5) rotate(30deg);
  -ms-transform: scale(0.5) rotate(30deg);
  -o-transform: scale(0.5) rotate(30deg);
  transform: scale(0.5) rotate(30deg);
}
.bats_fix:nth-child(2) {
  left: 52%;
  top: 12%;
}
.bats_fix:nth-child(3) {
  left: 30%;
  top: 10%;
  -webkit-transform: scale(0.8) rotate(-10deg);
  -moz-transform: scale(0.8) rotate(-10deg);
  -ms-transform: scale(0.8) rotate(-10deg);
  -o-transform: scale(0.8) rotate(-10deg);
  transform: scale(0.8) rotate(-10deg);
}
.bats_fix:nth-child(4) {
  left: 44%;
  top: 24%;
  -webkit-transform: scale(0.5) rotate(20deg);
  -moz-transform: scale(0.5) rotate(20deg);
  -ms-transform: scale(0.5) rotate(20deg);
  -o-transform: scale(0.5) rotate(20deg);
  transform: scale(0.5) rotate(20deg);
}
.bats_fix:nth-child(5) {
  left: 20%;
  top: 3%;
}
.bats_fix:nth-child(6) {
  left: 22%;
  top: 15%;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);;
  transform: rotate(30deg);
}
.bats_fix:nth-child(7) {
  left: 0;
  top: 10%;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);;
  transform: rotate(30deg);
}
.bats_fix:nth-child(8) {
  right: 4%;
  top: 67%;
}
.bats_fix:nth-child(9) {
  left: 0%;
  top: 54%;
}